*{
  color: #fff;
}

::placeholder{
  color: #fff;
  opacity: 0.3;
}

.center {
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 5vh;
  /*margin-bottom: 25vh;*/
  text-align: center;
}

/*#listings_page  button {
  margin-right: 10vw;
  margin-left: 10vw;
}*/

.margin_top {
  margin-top: 15vh;
  margin-bottom: 20vh;
  text-align: center;
}

.margin_bottom{
  margin-bottom: 25vh;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

.logo {
  font-size: 10vw;
  font-family: 'Righteous', ;
}

.subtitle {
  margin-top: -30px;
}

.location_label {
  margin-top: 50px;
}

.accomodationItem{
  height: 100vh;
}

.favouriteButtonColor{
  color: red !important;
}

.image_container {
  width: 80vw;
  height: 250px;
  overflow: hidden;
}

.image_container img {
  width: 100vw;
}

.margin_top_text{
  margin-top: 10px;
}

.room_details{
  list-style: none;
  font-size: 10px;
  /*text-align: left;*/
  margin-left: -10px;
  /*margin-top: -2px;*/
}

.border_bottom {
  border-bottom: 1px solid #1E90FF;
}
